@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    padding: 0; 
    margin: 0; 
}

:root {
    font-family: Arvo, sans-serif; 
    --black: #0B0C10; 
    --dark-blue: #1F2833;
    --grey: #C5C6C7;
    --teal: #66FCF1;
    --turquoise: #45A29E; 
}

.nav {
    display: flex; 
    justify-content: left; 

    background-color: var(--dark-blue); 
    color: white; 
}

.nav-tab {
    padding: 20px;
}
.nav-tab:hover {
    transition: 200ms; 
    background-color: var(--grey); 
    cursor: pointer; 
    color: var(--dark-blue); 
}

.content {

}

.section {
    
}

.introduction {
    background-color: var(--dark-blue);
    color: white; 

    padding: 30px; 

    display: flex; 
    justify-content: space-between; 
}

.introduction-header {
    display: flex; 
    flex-direction: column; 
    gap: 6px;

}

.introduction-content {
    display: flex; 
    flex-direction: column; 
    gap: 35px; 

    flex: 2;
}

.description-sm {
    font-size: 15px; 
}

.description-md {
    font-size: 20px; 
}

.teal {
    color: var(--teal); 
}

.title {
    font-weight: 700; 
    font-size:90px; 
    color: var(--teal); 
}

.portfolio {
    background-color: var(--turquoise);
}

.projects {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px; 
    padding: 50px;
}


.project {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    gap: 15px; 

    width: 500px; 
    border-radius: 10px; 
    overflow: hidden; 

    background-color: var(--dark-blue);
    color: white; 
    transition: 150ms; 
}

.project:hover {
    transition: 200ms; 
    transform: scale(1.1); 
    box-shadow: 2px 2px 3px 3px var(--dark-blue); 
}

img {
    width: 500px; 
    height: auto; 
}

.project-image {
    width: 500px; 
    height: 220px;  
    overflow: hidden; 
}

.project .description-sm {
    padding: 0px 34px; 
}

.btn {
    text-decoration: none;
    color: white; 
    border: 2px solid var(--teal); 
    border-radius: 15px; 
    background-color: var(--dark-blue); 

    padding: 10px; 
    margin: 20px; 
}

.btn:hover {
    transition: 200ms; 
    background-color: var(--teal); 
    color: var(--black); 
}